@media(min-width:600px) {
  .top-navbar {
    box-shadow: 0 0 10px gray !important;
  }
  #top-actions-section {
    display: flex !important;
    align-items: center !important;
  }
  .search-section {
    margin-top: 0 !important;
  }
}

.users-list-item.active .users-list-arrow-icon {
  transform: rotate(180deg);
}